{% extends 'base.html' %}
{% block title %}Client{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block content %}

<section id="upload-container" class="group">
    <section class="messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for cat, msg in messages %}
        <div class="{{ cat }}">{{ msg }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div id="upload-msg"></div>
    </section>

    <form id="upload">
        <fieldset id="to-send">
            <legend>Files Selected to Send</legend>
        </fieldset>
        <input id="file-selector" type="file" name="upload" tabindex=0 multiple />
        <label for="file-selector" class="button button-secondary" title="Select File to Upload">
            Select Files…
        </label>

        <input id="send-files" type="submit" tabindex=0 />
        <label for="send-files" class="button" title="Send Selected Files">
            Send Selected File(s)
        </label>
    </form>
</section>

<section id="download-container" class="group">
    <section class="messages">
        <div id="download-msg"></div>
    </section>

    <form id="download">
        <fieldset id="available">
            <legend>Files Available to Receive</legend>
        </fieldset>
        <input id="receive-files" type="submit" tabindex=0 />
        <label for="receive-files" class="button" title="Receive Selected Files">
            Receive File(s)
        </label>
    </form>
</section>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='src/js/api.js') }}"></script>
<script src="{{ url_for('static', filename='src/js/ui.js') }}"></script>
<script src="{{ url_for('static', filename='src/js/upload.js') }}"></script>
<script src="{{ url_for('static', filename='src/js/download.js') }}"></script>
{% endblock %}
