
@import './css/bubbles.css';
@import './css/groups.css';
@import './css/messages.css';
@import './css/selection.css';

html {
    font-family: var(--font-base);
    background-color: var(--color-bg);
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
}

h1 {
    margin-top: .5em;
    padding-top: 0;
    font-size: 16pt;
    font-weight: bold;
    color: var(--color-error-fg);
    background-color: var(--color-error-bg);
}


.content {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
