<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <title>loft</title>
    <link href='/static/css/lib/pure.min.css' rel='stylesheet' />
    <link href='/static/css/client/main.css' rel='stylesheet' />
</head>

<body>

    <div id='download'>
        <a href=''>Download</a>
    </div>

    <div id='upload'>
        <form>
            <input type='file'>Upload</input>
            <input type='submit'>Submit</input>
        </form>
    </div>

    <script type='module' src='/static/js/client/main.js'></script>
</body>

</html>
