{% extends 'base.html' %}
{% block title %}Client{% endblock %}
{% block stylesheets %}
<link href="{{ url_for('static', filename='src/index.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}

<h1 class="header">Loft</h1>

<div id="download">
    <a class="button" href="#">Download</a>
</div>

<div id="upload">
    <form>
        <label for="file-selector" class="button button-secondary">Select File</label>
        <input id="file-selector" type="file" />
        <label for="upload-file" class="button">Upload</label>
        <input id="upload-file" type="submit" class="button" value="Upload" />
    </form>
</div>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='src/index.js') }}" type='module'></script>
{% endblock %}
