{% extends 'base.html' %}
{% block title %}Client{% endblock %}
{% block stylesheets %}
<link href="{{ url_for('static', filename='src/index.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}

<section id="upload" class="group">
    <form method="POST" enctype="multipart/form-data">
        <label for="file-selector" class="button button-secondary" title="Select File to Upload" tabindex=0>Select
            File…</label>
        <input id="file-selector" type="file" name="upload" />
        <label for="upload-file" class="button" title="Send Selected File" tabindex=0>Send Selected File</label>
        <input id="upload-file" type="submit" class="button" value="Upload" />
    </form>
</section>

<section id="download" class="group">
    <a class="button" href="#" title="Get File" tabindex=0>Get File</a>
</section>

{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='src/index.js') }}" type='module'></script>
{% endblock %}
